.main-section {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    max-width: 800px;
    padding: 20px;
}

#container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration: underline;
}

#container p {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#container.fadeUp {
    animation: fadeUp 600ms ease-out;
}

#container.fadeDown {
    animation: fadeDown 600ms ease-out;
}

#container.fadeFromUp {
    animation: fadeFromUp 600ms ease-out;
}

#container.fadeFromDown {
    animation: fadeFromDown 600ms ease-out;
}

@keyframes fadeUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-50vh);
    }
}

@keyframes fadeDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(50vh);
    }
}

@keyframes fadeFromUp {
    from {
        opacity: 0;
        transform: translateY(-50vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromDown {
    from {
        opacity: 0;
        transform: translateY(50vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#contacts {}

.contact-section {}