.navigation-section {
    width: 380px;
    background-color: #000018;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    z-index: 100;
}

.navigation-section img {
    width: 200px;
    margin: 50px 0 10px 0;
    box-shadow: inset 15px 15px 0 #2f2fd8;
    border-radius: 25px;
}

.navigation-section h2 {
    color: #FFF2F2;
    font-size: 2rem;
    letter-spacing: 3px;
}

.navigation-section ul {
    list-style: none;
}

.navigation-section li {
    margin-bottom: 5px;
}

.navigation-section li button {
    background-color: transparent;
    color: #f2f2f2;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    transition: 600ms;
}

@media (max-width: 760px) {
    .navigation-section {
        width: 100%;
        height: fit-content !important;
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation-section div {
        padding: 10px;
    }

    .navigation-section img {
        width: 100px;
        margin: 0;
    }

    .navigation-section h2 {
        display: none;
    }

    .navigation-section nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}

@media (max-width: 300px) {
    .navigation-section {
        gap: 5px;
        flex-direction: column;
    }
}