@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Patrick+Hand&family=Quicksand&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #f2f2f2;
}

.wrapper {
    display: flex;
    background-color: #f2f2f2;
}

h2 {
    color: #000018;
}

.active {
    color: #708AF4 !important;
    font-size: 2.3rem !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

@media (max-width: 760px) {
    .wrapper {
        flex-direction: column;
    }

    .active {
        color: #708AF4 !important;
        font-size: 1.5rem !important;
    }
}